@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');

navbar {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: Nunito, Roboto, Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: #7ec0ee;
}

a:hover {
    color: #5DAFEA;
}