@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');

div {
    padding: 20px;
    margin: 10px;
}

navbar {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: Nunito, Roboto, Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
    color: #7ec0ee;
}

a:hover {
    color: #5DAFEA;
}

button {
    color: #7EC0EE;
    border-radius: 10px;
}

.descriptionBox {
    background-image: linear-gradient(#5DAFEA, #7ec0ee);
}